In [12]:
import pandas as pd
import numpy as np

# Load the Final DataFrame from the CSV file
final_df = pd.read_csv('final.csv')

# Calculate total project cost for each employee
total_proj_cost = final_df.groupby(['ID', 'First Name'])['Cost'].sum().reset_index()
total_proj_cost.columns = ['ID', 'First Name', 'Total Cost']

# Save the TotalProjCost DataFrame
total_proj_cost.to_csv('total_proj_cost.csv', index=False)

# Print the TotalProjCost DataFrame to verify
print(total_proj_cost)

     ID  First Name    Total Cost
0  A001    Mr. John  5.063714e+06
1  A002  Mrs. Alice  2.680000e+06
2  A003     Mr. Tom  5.150000e+06
3  A004   Mrs. Nina  9.500000e+06
4  A005    Mrs. Amy  3.850500e+06

In [13]:
total_proj_cost.head()

     ID  First Name    Total Cost
0  A001    Mr. John  5.063714e+06
1  A002  Mrs. Alice  2.680000e+06
2  A003     Mr. Tom  5.150000e+06
3  A004   Mrs. Nina  9.500000e+06
4  A005    Mrs. Amy  3.850500e+06